html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: no wrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

@media(max-width:768px) {
	.nav li > form {
	    padding: 3px;
	}
}

.nav > li > form > button:hover {
    text-decoration: none;
}


/*Admin css*/
/* Logo */
.logo-mini img{
    width: 30px;
}
.logo-lg img{
    width: 180px;
}

/*Select 2 widget*/

.select2-container .select2-selection--single .select2-selection__rendered {
    display: inline !important;
}

.select2-container--krajee .select2-selection,.select2-container--krajee .select2-search--dropdown .select2-search__field,.select2-container--krajee .select2-selection--multiple .select2-selection__choice {
    border-radius: 0;   
}

.select2-container--krajee .select2-search--dropdown .select2-search__field {
    background: #fff url('../img/search.png') right 3px top 7px no-repeat;
}

has-success .select2-container--open .select2-selection, .has-success .select2-container--krajee.select2-container--focus .select2-selection {
    -webkit-box-shadow: none;
    box-shadow: none;
    
}

.select2-container--krajee .select2-selection--single .select2-selection__arrow {
    border: none;
    /* border-left: 1px solid #aaa; */
}

.has-success.select2-container--krajee .select2-dropdown, .has-success .select2-container--krajee .select2-selection ,.has-success .select2-container--open .select2-selection, .has-success .select2-container--krajee.select2-container--focus .select2-selection { 
    border-color: #00a65a;
	
}

.select2-container--krajee .select2-results__option--highlighted[aria-selected] {
    background-color: #3c8dbc;
    color: #fff;
}
/*select2 ends here*/

/*box adminlte*/
.box {
    position: relative;
    border-radius: 0;
}	

/*content-wrapper*/
.content-wrapper, .right-side {
    background-color: #d2d6de;
}